@charset "UTF-8";

@media print {

}

/* Medium devices */
@media screen and (min-width: 768px) and (max-width:992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#tablet { display: block;}
    img#phone { display: none;}
    img#pc     { display: none;}
    img#tv     { display: none;}
    img#impressora { display: none;}
}

/* Large device. */
@media screen and (min-width:992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#pc { display: block;}
    img#phone {display: none;}
    img#tablet {display: none;}
    img#impressora { display: none;}
    img#tv {display: none;}
}

/* Extra large devices. */  
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 1000px;
    }

    img#tv { display: block; }
    img#impressora { display: none; }  
    img#phone { display: none; }
    img#tablet { display: none; }
    img#pc { display: none; }
}